.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 40%;
  width: 40%;
  background-color:mistyrose;
}
.content {
  position: relative;
  left: 40%;
  width: 60%; 
}
 .project {
   position: relative;
   width: 100%;
   height: 120vh;
 }

 .first-project {
  background-color: olivedrab;
}

.phone {
  box-shadow: 5px 10px #888888;
}

.second-project {
  background-color: rgb(229, 124, 236);
}
.third-project {
  background-color: rgb(114, 166, 235);
}
.fourth-project {
  background-color: orange;
}
